<!--
<h1>Movie's detail: </h1>
<div><span>Id: </span>{{movie.id}}</div>
<div><span>Name: </span>{{movie.name | uppercase}}</div>
<div><span>Release Year: </span>{{movie.releaseYear}}</div>
<div style="margin: 10px; text-align: left">
  <label>Movie name (Data-binding one-way);
    <input [ngModel]="movie.name" placeholder="Enter movie's name">
  </label>
</div>
<div style="margin: 10px; text-align: left">
  <label>Release year: (Data-binding two-way);
    <input [(ngModel)]="movie.releaseYear" placeholder="Enter release year">
  </label>
</div>
-->

<h2>My favorite movies</h2>
<div style="text-align: left;">
    <table style="width: 300px;">
        <tr>
            <td>New movie's name:</td>
            <td>
                <input #movieName placeholder="name">
            </td>
        </tr>
        <tr>
            <td>Release year:</td>
            <td>
                <input #releaseYear placeholder="release year">
            </td>
        </tr>
        <tr>
            <button (click)="add(movieName.value,releaseYear.value); movieName.value=''; releaseYear.value=''; ">
                Add
            </button>
        </tr>
    </table>
</div>
<div class="parent">
    <ol class="movies">
        <li class="movieListItem" *ngFor="let eachMovie of movies">
            <a routerLink="/detail/{{eachMovie.id}}" style="text-decoration: none;">
                {{eachMovie.name}} - {{eachMovie.releaseYear}}
            </a>
            <button title="Delete movie"
                    (click)="delete(eachMovie.id)">
                X
            </button>
        </li>
    </ol>
    <!--<app-movie-detail [movie]="selectedMovie"></app-movie-detail>-->
</div>
